<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.onval.bakingapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/recipe_list_title"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.RecipeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.DetailActivity" />
        <activity
            android:name=".view.StepDetailActivity"
            android:parentActivityName=".view.RecipeActivity" />
        
        <provider
            android:authorities="com.onval.bakingapp.provider.RecipeProvider"
            android:name=".provider.RecipeProvider"
            android:exported="false" />

        <receiver android:name=".widget.RecipeIngredientsWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/recipe_ingredients_widget_info" />
        </receiver>

        <service android:name=".widget.WidgetRemoteViewsService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <service android:name=".widget.WidgetOnClickService" />
    </application>

</manifest>